body {
    width:100%;
    height:100%;
}

.wrapper  {
    width: 1200px; 
    margin: 0 auto;
}

.de-wrapper {
    width: 100%;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.shadowbloc {
    box-shadow: 0 0 16px 5px rgba(98,98,98,0.16);
    border-radius: 4px;
}
h1, h2, h3, h4, h5{
    margin: 0;
    letter-spacing: 0.1rem;
}
h2 {
    font-size: 28px;
    font-weight: 100;
}
h3 { 
    @include fontfamily (
    $size : 34px,
    $weight : 800, 
    $height : 44.2px,
    $color: black,
    )
}

p {
    @include fontfamily (
    $size : 19px,
    $height : 39.4px,
    $color: black,
    )
}
.top-nav a{
    color: white;
}
a {
    text-decoration: none;
    display: block;
    letter-spacing: 0.08em;
    font-weight: 100;
    font-size: 15px;
    &::first-letter{
        text-transform: uppercase;
    }
    
}

p {
    @include fontfamily (
    $size : 20px,
    $color : #0c0c0c,
    )
}

label, input {
    @include fontfamily (
        $color : #0c0c0c,
        )
}

