.wrapper  {
    width: 1200px; 
    margin: 0 auto;
}

.de-wrapper {
    width: 100%;
}

img {
    display: block;
}

.shadowbloc {
    box-shadow: 0 0 16px 5px rgba(98,98,98,16%);
    border-radius: 4px;
}

h3 { 
    @include fontfamily (
        $size : 34px,
        $weight : 800, 
        $height : 44.2px,
    )
}
//le swiper !
.swiper {
    width: 1200px;
    height: 300px;
    .swiper{
        
    }
  }
  

