body {
    width:100%;
    height:100%;
}

.wrapper  {
    width: 1200px; 
    margin: 0 auto;
}

.de-wrapper {
    width: 100%;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.shadowbloc {
    box-shadow: 0 0 16px 5px rgba(98,98,98,0.16);
    border-radius: 4px;
}
h1, h2, h3, h4, h5{
    margin: 0;
    letter-spacing: 0.1rem;
}
h2 {
    font-size: 28px;
    font-weight: 100;
}
h3 { 
    @include fontfamily (
    $size : 34px,
    $weight : 800, 
    $height : 44.2px,
    $color: black,
    )
}

p {
    @include fontfamily (
    $size : 19px,
    $height : 39.4px,
    $color: black,
    )
}
.top-nav a{
    color: white;
}
a {
    text-decoration: none;
    display: block;
    letter-spacing: 0.08em;
    font-weight: 100;
    font-size: 15px;
    &::first-letter{
        text-transform: uppercase;
    }
    
}
//section5 swiperito
.section5{
    h3{
        color: #000;
        width: 30%;
        margin: 0 auto;
        margin-top: 40px;
    }
    //le swiper !
    .swiper{
        position: relative;
        .swiper-button-prev {
            color: #777;
            height: 100%;
            width: 10%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            // width: 10%;
            // height: 120px;
            // background: url(../img/fleche-g.svg) center/cover;
            // transform: translateY(-50%);
            // &:after{
            //     display: none;
            // }

            &:hover{
                color: #0089FE ;
            }
        }
        .swiper-button-next {
            color: #777;
            height: 100%;
            width: 10%;
            position: absolute;
            top: 0;
            right: 0;
            background-color: #fff;
            // width: 10%;
            // height: 120px;
            // background: url(../img/fleche-g.svg) center/cover;
            // transform: translateY(-50%) rotate(180deg);
            // &:after{
            //     display: none;
            // }
            &:hover{
                color: #0089FE ;
            }
        }
        height: 400px;
        .swiper-wrapper{
            .swiper-slide{
                display: flex;
                justify-content: center;
                align-items: center;
                .slider-txt{
                    width: 75%;
                    background-color: #F6FBFF;
                    padding: 10px 50px;
                    font-size: 28px;
                    line-height: 1.5;
                }
                .slider-lien{
                    display: flex;
                    justify-content: center;
                    a{
                        position: relative;
                        font-size: 20px;
                        text-decoration: none;
                        color: #777;
                        margin: 0 20px;
                        padding-bottom: 10px;
                    }
                    a:hover{
                        color: #0089FE ;
                    }
                    a:last-child:before {
                        content: ".";
                        position: absolute;
                        left: -25%;
                    }
                }
                
            }
        }
        .swiper-pagination{
            .swiper-pagination-bullet{
                width: 20px;
                height: 20px;
                margin: 5px;
                &:hover{
                    background-color: #0089FE;
                    opacity: 1;
                }
            }
        }
    }
}
//section8 les questions
//centré avec flex
.section8{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #202020;
    h3{
        color: #000;
        text-align: center;
    }
    .box-text{
        width: 60%;
    }
    .questions-box{
        border-top: 1px solid #CDCDCD;
        .titre-question{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
            cursor: pointer;

p {
    @include fontfamily (
    $size : 20px,
    $color : #0c0c0c,
    )
}

label, input {
    @include fontfamily (
        $color : #0c0c0c,
        )
}

            &:hover{
                color: #0089FE;
            }
            h4{
                margin: 0;
                padding: 0;
                font-size: 22px;
            }
            //design du plus
            .plus{
                position: relative;
                &:before, &:after{
                    content: "";
                    position: absolute;
                    left: -20px;
                    width: 20px;
                    height: 2px;
                    background-color: #CDCDCD;
                    transition: all 0.2s ease-in-out;
                }
                &:after{
                    transform: rotate(90deg);
                }
            }
            .moin{
                &:before, &:after{
                    transform: rotate(-180deg);
                    transition: all 0.2s ease-in-out;
                    background-color: #0089FE;
                }
            }
        }

    }
    .defil-question{
        //utilisation du max-height car la transition ne fonctionne pas avec une valeur en %
        max-height: 0;
        overflow: hidden;
        transition: all .3s ease-out;
    }
    .open{
        max-height: 150px;
    }
    p{
        border-top: 1px solid #CDCDCD;
        text-align: center;
        padding-top: 30px;
        a{
            text-decoration: none;
            color: #0089FE;
            &:hover{
                color: #1a69ad;
            }
        }
    }
}
