.btn {
    border: solid 1px black;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}

.btn-green {
    font-weight: 500;
    background: #05b564;
    color: white;
    border: none;
    display: inline-block;
    text-transform: capitalize;
    line-height: 48px;
    padding: 0 24px;
    transition: .2s ease-in-out all;
    font-weight: 700;
}
.btn-green:hover{
    background: #028a4a;
    transition: .2s ease-in-out all;
}

.btn-white{
    background-color: rgba(0,0,0,0.6);
    border: 1px solid #fff;
    color: #fff;
    text-transform: capitalize;
    line-height: 48px;
    padding: 0 24px;
    transition: .2s ease-in-out all;
}
.btn-white:hover{
    background-color: white;
    color: rgb(53, 159, 245);
    transition: .2s ease-in-out all;
}